.logo {
  width: 230px;
  img {
    margin-left: 40px;
    width: 189px; // Example width
    height: 28px; // Example height
    margin: 18px; // Example margin
    float: inline-end;
    gap:10px;
  }
}